a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

header {
    background-color: lightblue;
    border: 2px solid black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
}