<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <header>
        <nav>
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ASP_Assignments</a>

                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Projects">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <p>&copy;Dennis Olsen, @DateTime.Now.ToString("yy-MM-dd")</p>
    </footer>
</body>


</html>
