
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>
    My name is Dennis Olsen and I have recently studied a master in computer science at Blekinge Institute of Technology in Karlskrona.
    <br />
    After finishing my studies, I moved back to Gothenburg, where I am born and raised and where most of my family lives.
    <br />
    In my spare time I like to chat with friends and play computer games.
</p>
<p>
    As a person, I am quiet, well-behaved and I like order and structure. At first, I may be perceived as bit shy but I am a person who like to work in team with other people and I am loyal co-worker. 
    <br />
    For me it is very rewarding to help each other, develop together and reach common goals.
</p>