
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>Welcome to my MVC week 1 assignments home page</p>
<p>Just /FeverCheck without specifying controller or action redirects you to assignment2</p>

