
@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>



<p>Github links to my lexicon assignments</p> <br />

<h3>Basic C#:</h3>
<p>Assignment 1 Calculator: <a href="https://github.com/deol13/LexiconCSharpAssignmentOneSolution">Simple Calculator</a> </p>
<p>Assignment 2 Hangman: <a href="https://github.com/deol13/LexiconCSharpAssignmentTwoSolution">Hangman game</a> </p>
<p>Assignment 3 Test-Calculator: <a href="https://github.com/deol13/LexiconCSharpAssignmentOneSolution/tree/UpgradeAndUnitTesting">Adding test-unit to calculator assignment, in UpgradeAndUnitTesting branch</a> </p>
<p>Assignment 4 Todo IT: <a href="https://github.com/Ramya-cloud-hub/ToDoIt">Todo IT program, Colab with another student</a> </p>
<p>Assignment 5 Vending Machine: <a href="https://github.com/deol13/VendingMachineConsoleApp">Vending machine program</a> </p>
<br />

<h3>Front end - html, css, javascript</h3>
<p>Assignment 1 HTML: <a href="https://github.com/deol13/Assingment-1---HTML">Basic html</a> </p>
<p>Assignment 2 CSS: <a href="https://github.com/deol13/Assingment-1---HTML/tree/CSSassignment">Structure assignment 1 HTML page using CSS, branch of the html assignment</a> </p>
<p>Assignment 4 Javascript: <a href="https://github.com/deol13/Assignment-4---JavaScript">Creating a game on a page using javascript</a> </p>




