
@{
    ViewData["Title"] = "Doctor";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Doctor" asp-action="CheckMyFever" metod="post">
    <label>Temperature</label>
    <input type="number" name="temp" min="1" max="70">
    <input type="submit" value="Send feedback" />
</form>

@{
    var data = ViewData["Message"];
}

<p>
    @if (data != null) { @ViewData["Message"] }
</p>


